.stock {
  padding: 1rem;
  border-radius: 8px;
  background: #2fcc71;
  color: #34485f;

  &--positive {
    background: #2fcc71;
  }

  &--negative {
    background: #e74c3c;
  }

  &--disabled {
    background: #edf0f1;
  }

  &__name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 0;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    &:first-child {
      display: flex;
      justify-content: center;
    }

    &--yearly {
      display: flex;
    }

    >span {
      &:nth-child(1) {
        font-size: 20px;
        font-weight: 600;
      }

      &:nth-child(2) {
        font-size: 20px;
      }
    }

    &--current {
      flex: 1;
      text-align: center;
      font-size: 32px !important;
      font-weight: 500 !important;
    }
  }

  &__toggle {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 44px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #34485e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #34485e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(56px);
  -ms-transform: translateX(56px);
  transform: translateX(56px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  .stock__price {
    flex-direction: column;
    padding: 10px;
  }
  .stock__price--yearly {
    display: none;
  }
}

